In [1]:
x_value = 0.12897253

In [4]:
print("This x_value {:1.3f}". format(x_value))

This x_value 0.129

In [1]:
my_string = "Word"

In [4]:
print(my_string[1:3])

or

In [6]:
my_list = ['one','two']

In [7]:
add_list = ['three']

In [8]:
new_list = my_list + add_list

In [9]:
new_list

['one', 'two', 'three']

In [10]:
new_list.append('four')

In [11]:
new_list

['one', 'two', 'three', 'four']

In [12]:
popped = new_list.pop()

In [13]:
popped

'four'

In [30]:
new_list.append('two')

In [31]:
new_list2 = ['a','v','h','q']

In [32]:
number_list = [1,4,6,8,3]

In [33]:
new_list2.sort()

In [34]:
new_list2

['a', 'h', 'q', 'v']

In [35]:
number_list[2]

6

In [43]:
dictionary = {'apple':2.49, 'peach':3.20, 'banana':4.15, 'key':{'nowy': [123,100]}}

In [38]:
dictionary['apple']

2.49

In [44]:
dictionary['key']['nowy'][0]

123

In [1]:
tuplet = (1,3,4,6)

In [2]:
tuplet

(1, 3, 4, 6)

In [3]:
tuplet[2]

4

In [4]:
my_set = set()

In [5]:
my_set

set()

In [9]:
my_set.add(3)
my_set

{2, 3}

In [11]:
%%writefile myfile.txt
Hello World

Writing myfile.txt

In [12]:
myfile = open('myfile.txt')

In [13]:
pwd

'C:\\Users\\M013748'

In [15]:
myfile.close()

In [18]:
with open('myfile.txt') as my_new_file:
    content = my_new_file.read()

In [19]:
with open('myfile.txt',mode='r') as my_new_file:
    content = my_new_file.read()

In [20]:
content

'Hello World\n'

In [29]:
with open('test.txt',mode='w') as my_new_file:
    my_new_file.write('Ratata')

In [30]:
with open('test.txt',mode='r') as my_new_file:
    content = my_new_file.read()

In [31]:
content

'Ratata'

# FIRST TEST FROM PYTHON

In [12]:
print(2*90/3+41-0.75)

100.25

In [10]:
print(4*(6+5))
print(4*6+5)
print(4+6*5)

44
29
34

In [13]:
x=  3 + 1.5 + 4
type(x)

float

In [23]:
n=2
m=n**0.5
m

1.4142135623730951

In [25]:
x = m**2
x

2.0000000000000004

In [26]:
s='hello'
s[1]

'e'

In [37]:
s[::-1]

'olleh'

In [39]:
s[4]

'o'

In [40]:
s[-1]

'o'

In [42]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [45]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [46]:
d = {'simple_key':'hello'}
d['simple_key']

'hello'

In [50]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [53]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

What is the major difference between tuples and lists? We cannot resign tuples
How do you create a tuple? with tuple() brackets 
What is unique about a set? They shown only distinct values

In [54]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [2]:
3.0 == 3

True

In [3]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [7]:
loc = 'Uni'
if loc == 'Work':
    print(Work)
elif loc == 'Uni':
    print('Uni')
else:
    print('No loc')

Uni

In [13]:
my_list = [1,4,5,6,8,3]
x = 0
for num in my_list:
    x = x+num
    
print(x)

27

In [20]:
d = {'k1':1, 'k2':2, 'k3':3}

for x in d.values():
    print(x)

1
2
3

In [5]:
x = 5
while x < 5:
    print("This is {}".format(x))
    x = x + 1
else:
    print(x)

5

In [11]:
my_string = "Michał"

for x in my_string:
    if x == 'h':
        break
    print(x)

M
i
c

In [14]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [38]:
index_count = 1

for number in range(0,32,4):
    print("Index {} for number: {}". format(index_count,number))
    index_count += 1
    while index_count > 8:
        break
    else:
        continue
    print("Finished")

Index 1 for number: 0
Index 2 for number: 4
Index 3 for number: 8
Index 4 for number: 12
Index 5 for number: 16
Index 6 for number: 20
Index 7 for number: 24
Index 8 for number: 28
Finished

In [45]:
word = "Banan"
for index,letter in enumerate(word):
    print(index+1)
    print(letter)
    print('\t')

1
B

2
a

3
n

4
a

5
n

In [53]:
my_list1 = [1,4]
my_list2 = ['jeden', 'dwa']

for new in zip(my_list1,my_list2):
    print(new)

(1, 'jeden')
(4, 'dwa')

In [55]:
result = input("Please a number: ")

Please a number: 2

In [1]:
mylist = [anylist for anylist in 'hello']

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [x*y for x in [1,2,3] for y in [10,100,1000]]

In [6]:
mylist

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

# Statement TEST

In [12]:
st = 'Print only the words that start with s in this sentence'
st2 = st.split(" ")

In [13]:
st2

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [14]:
for x in st2:
    if x[0] == 's':
        print(x)
    else:
        continue

start
s
sentence

In [73]:
for x in range(0,11,2):
    print(x)

0
2
4
6
8
10

In [74]:
mylist = [x for x in range(1,50) if x%3==0]

In [75]:
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [55]:
st2 = st.split(" ")

In [64]:
for x in st2:
    if len(x)%2 == 0:
        print(x, "-EVEN")
    else:
        print(x, "-NOT EVEN")

Print -NOT EVEN
only -EVEN
the -NOT EVEN
words -NOT EVEN
that -EVEN
start -NOT EVEN
with -EVEN
s -NOT EVEN
in -EVEN
this -EVEN
sentence -EVEN

In [76]:
for x in range(1,101):
    if x%3==0:
        print(x, "Fizz")
    elif x%5==0:
        print(x, "Buzz")
    elif x%15==0:
        print(x, "FizzBuzz")
    else:
        print(x)

1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 Fizz
16
17
18 Fizz
19
20 Buzz
21 Fizz
22
23
24 Fizz
25 Buzz
26
27 Fizz
28
29
30 Fizz
31
32
33 Fizz
34
35 Buzz
36 Fizz
37
38
39 Fizz
40 Buzz
41
42 Fizz
43
44
45 Fizz
46
47
48 Fizz
49
50 Buzz
51 Fizz
52
53
54 Fizz
55 Buzz
56
57 Fizz
58
59
60 Fizz
61
62
63 Fizz
64
65 Buzz
66 Fizz
67
68
69 Fizz
70 Buzz
71
72 Fizz
73
74
75 Fizz
76
77
78 Fizz
79
80 Buzz
81 Fizz
82
83
84 Fizz
85 Buzz
86
87 Fizz
88
89
90 Fizz
91
92
93 Fizz
94
95 Buzz
96 Fizz
97
98
99 Fizz
100 Buzz

In [71]:
st = 'Create a list of the first letters of every word in this string'
st2 = st.split(" ")
mylist = [x[0] for x in st2]

In [72]:
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

# Methods and Functions

In [2]:
mylist = [1,2,3]
mylist.append(4)
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()
mylist

[1, 2, 3]

In [7]:
def first_function(name):
    print("Hello"+" " +name)
first_function("Roonie")

Hello Roonie

In [8]:
def add_function (num1, num2):
    return num1 + num2
result = add_function(3,4)
result

7

In [9]:
#Find out if the "dog" is in the string

In [14]:
st = "Find out if the dog is in the string"
def dog_check(st):
    if "dog" in st:
        return True
    else:
        return False

In [15]:
dog_check(st)

True

In [18]:
def dog_check(st):
    return "dog" in st
dog_check(st)

True

In [30]:
def my_func(*args):
    print(args)

In [31]:
my_func(1,3,4)

(1, 3, 4)

In [36]:
def my_func(**kwargs):
    if 'fruit' in kwargs:
        print('My favourite fruit is {}'.format(kwargs['fruit']))
    else:
        print("Coco dżambo and  forward")

In [38]:
my_func(fruit ='Bananas')

My favourite fruit is Bananas

In [39]:
def my_func(*args,**kwargs):
    print('I would like {} {}'. format(args[0],kwargs['food']))

In [40]:
my_func(10,20,30,fruit='banan',food='Kebab')

I would like 10 Kebab

In [19]:
def myfunc(*args):
    even_list = [ ]
    for num in args:
        if num%2 == 0:
            even_list.append(num)
            return even_list

In [20]:
def myfunc(Word):
    strack=''
    for i in range(0,len(Word)):
        if i%2==0:
            strack+=Word[i].lower()
        else:
            strack+=Word[i].upper()
    return strack

# Mathods and functions test

In [16]:
def lesser_of_two_evens(a,b):
        if a%2==0 and b%2==0:
            return min(a,b)
        else:
            return max(a,b)
lesser_of_two_evens(7,5)

7

In [34]:
def animal_crackers(string):
    string2 = string.lower().split()
    return string2[0][0].lower==string2[1][0].lower
animal_crackers("Dwa jablko")

False

In [39]:
def make_twenty(a,b):
    if a==20:
        return True
    if b==20:
        return True
    elif a+b==20:
        return True
    else:
        return False
make_twenty(16,20)

True

In [41]:
def make_twenty(a,b):
    return a==20 or b==20 or a+b==20
make_twenty(10,1)

False

# Level ONE

In [53]:
def old_mcdonald(name):
    first_part = name[:2]
    second_part = name[2:]
    return first_part.capitalize()+second_part.capitalize()
old_mcdonald("mcdonald")

'McDonald'

In [76]:
def master_yoda(talk):
    word = talk.split()
    return word[::-1]
master_yoda('I am home')
joining = master_yoda('I am home')
' '.join(joining)

'home am I'

In [79]:
def almost_there(n):
    return abs(100-n)<=10 or abs(200-n)<=10
almost_there(150)

False

# Level TWO

In [88]:
def has_33(mylist):
    for i in range(1,len(mylist)-1):
        if mylist[i]==3 and mylist[i-1]==3:
            return True
        elif mylist[i]==3 and mylist[i+1]==3:
            return True
        else:
            return False
has_33([1,3,2])

False

In [110]:
def paper_doll(word):
    result = ''
    for i in word:
        result +=i*3
    return result
    
paper_doll("Word")

'WWWooorrrddd'

In [122]:
def blackjack(a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=31:
        return sum([a,b,c])-10
    else:
        return "Bust"
blackjack(9,9,11)

19

In [3]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num !=6:
                total +=num
                break
            else:
                add = False
        while not add:
            if num !=9:
                break
            else:
                add = True
                break
    return total

summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

In [ ]:
def spy_game(nums):
    code = [0,0,7]
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code)==0

spy_game([1,0,2,0,4,5,7])

In [ ]:
def count_primes(num):
    if num<2:
        return 0
    primes = [2]
    x = 3
    
    while x <=num:
        for y in range(3,x,2):
            if x%y==0:
                x +=2
                break
            else:
                primes.append(x)
                x +=2
    print(primes)
    return len(primes)

In [ ]:
count_primes(100)

# Lambda, Map, Filters

In [1]:
def square(num):
    return num**2
my_nums = [1,2,3,4,5]

map(square,my_nums)

In [2]:
for x in map(square,my_nums):
    print(x)

1
4
9
16
25

In [3]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [4]:
def check_even(num):
    return num%2==0

In [5]:
mynums = [1,2,3,4,5,6]

In [6]:
filter(check_even,mynums)

In [8]:
list(filter(check_even,mynums))

[2, 4, 6]

In [9]:
square = lambda num: num**2
square(5)

25

In [10]:
map(lambda num: num**2,mynums)

In [11]:
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [13]:
list(filter(lambda num: num%2==0,mynums))

[2, 4, 6]